<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185141946861-ki335sc6h2v6fo4kcl8vqgpmrih6njg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185141946861-ki335sc6h2v6fo4kcl8vqgpmrih6njg0</string>
	<key>API_KEY</key>
	<string>AIzaSyA9HNPrJVV-eN25f2uUWgkMgrPoGPJP2dE</string>
	<key>GCM_SENDER_ID</key>
	<string>185141946861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sj.Lalamove</string>
	<key>PROJECT_ID</key>
	<string>lalamove-61c61</string>
	<key>STORAGE_BUCKET</key>
	<string>lalamove-61c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185141946861:ios:66d0787efdbc5c030c9fe4</string>
	<key>DATABASE_URL</key>
	<string>https://lalamove-61c61.firebaseio.com</string>
</dict>
</plist>